body {
  width: 450px;
}
#content {
  padding: 30px;
  font-size: 14px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group .form-label {
  display: inline-block;
  width: 110px;
}

.btn {
  padding: 3px 8px;
  border-radius: 2px;
  outline: none;
  width: 60px;
}

#preview {
  box-shadow: 0px 2px 12px #555;
  max-width: 300px;
}

input, select {
  width: 200px;
}